.jj {
    float: right;
    margin-right: 1350px;
    margin-top: 10px;
    
}

.dd{
    float: right;
    margin-right: 1350px;
    margin-top: 10px;
}

.vb{
    border: 2px solid blue;
    
}


.bb{
    float: left;
}

.nn {
    float: right;
    margin-right: 1350px;
    margin-top: 10px;
}






